
.hero{
    background-image: url(../src/img/taxi.jpg);
    background-position-y: -80em;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    background-size: 100%;
    align-items: center;
    justify-content: flex-end;
  
}
.hero-yellow-box{
    background-color: rgb(255, 179, 0);
    width: 27vw;
    height: 63vh;
    padding: 1em 2em 0 3em;
    text-align: center;
    font-size: 1.2em;
}
